<launch>
  <node pkg="utlidar_obstacle_layer" exec="utlidar_obstacle_publisher" name="utlidar_obstacle_publisher" output="screen">
    <param name="obstacle_range_max" value="3.0"/>
    <param name="obstacle_range_min" value="0.3"/>
    <param name="obstacle_height_min" value="0.1"/>
    <param name="obstacle_height_max" value="1.5"/>
    <!-- MID360-to-body translation offset in metres (tune after physical measurement) -->
    <param name="mid360_to_body_tx" value="0.0"/>
    <param name="mid360_to_body_ty" value="0.0"/>
    <param name="mid360_to_body_tz" value="0.0"/>
  </node>
</launch>
